<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gtn-solutions.exalis" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>exalis</name>
    <description>
        exalis
    </description>
    <author email="mkattner@gtn-solutions.com" href="http://www.gtn-solutions.com">
        Gtn Solutins
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
